html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 12px;
  line-height: 1.5;
  font-family: @font-default;
  color: @color-default;
}

div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: @color-link-default;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}